<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's orders</title>
</head>
<body>
    <h3>Today's orders</h3>
    
    <% orders.forEach(order => { %>
        <h5><%=order.user.name%></h5>
        <ul>
        <% order.items.forEach(item => { %>
            
            <li><%=item.quantity%> <%=item.size%> <%=item.itemName%>: <%=item.sugar%> <%=item.syrups%> <%=item.notes%></li>

      <%  }) %>
      </ul>
       <% }) %>
     <table>
       
</table>
<br>
</body>
</html>